[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.30"
djangorestframework = "==3.17.2"
django-filter = "==25.1"
django-treebeard = "==4.8.0"
markdown = "==3.10.3"
django-markdownfield = "==0.21.0"
django-cleanup = "==9.0.0"
django-imagekit = "==6.1.0"
django-autoslug = "==1.9.9"
django-mptt = "==0.18.0"
django-cms = "==3.11.11"
djangocms-text-ckeditor = "==5.1.7"
djangocms-picture = "==4.1.1"
djangocms-file = "==3.0.1"
djangocms-link = "==4.0.0"
djangocms-style = "==3.1.0"
djangocms-video = "==3.1.0"
djangocms-icon = "==2.1.1"
djangocms-googlemap = "==2.2.0"
djangocms-bootstrap4 = "==3.1.1"
django-filer = "==3.5.1"

[dev-packages]

[requires]
python_version = "3.12"
