{% load i18n %}
{% for cat in categories %}
  <div class="accordion">
    <div class="accordion__header">
      <h2 class="accordion__title">
        {{ cat.instance.name }}
        <div class="progress progress--gold progress--narrow cursor-help ml-3"
             title="{{ cat.score_current }} / {{ cat.score_max }} {% trans 'points' %}">
          <div class="progress-value">
            {{ cat.score_percentage }}%
          </div>
          <div class="progress-bar"
              role="progressbar"
              style="width: {{ cat.score_percentage }}%"
              aria-valuenow="{{ cat.score_percentage }}"
              aria-valuemin="0"
              aria-valuemax="100">
          </div>
        </div>
      </h2>
    </div>

    <div id="category-accordion-{{ cat.pk }}"
         class="accordion__content">
      
      {% for score in cat.scores %}
        <div class="accordion__item">
          
          <div id="heading-score-{{ score.pk }}"
               class="accordion__item-header">
            <button class="btn accordion__item-toggler collapsed"
                    data-toggle="collapse"
                    data-target="#collapse-score-{{ score.pk }}"
                    aria-expanded="true"
                    aria-controls="collapse-score-{{ score.pk }}">
              <h3 class="accordion__item-title">
                {% if score.score == 0 %}
                  <i class="far fa-times-circle color-critical-80"></i>
                {% endif %}
                {% if score.score == 1 %}
                  <i class="far fa-circle color-warning-60"></i>
                {% endif %}
                {% if score.score == 2 %}
                  <i class="far fa-check-circle color-success-80"></i>
                {% endif %}
                <span class="pl-2">
                  {{ score.criterion.name }}
                </span>
              </h3>
              <i class="accordion__item-toggler-icon fas fa-chevron-up"></i>
            </button>
          </div>

          <div id="collapse-score-{{ score.pk }}"
               class="accordion__item-content collapse"
               aria-labelledby="heading-score-{{ score.pk }}"
               data-parent="#category-accordion-{{ cat.pk }}">
            <div class="card-body">
              {% for policy in score.policies.active %}
                <div class="row mt-3">
                  <div class="col-lg-4">
                    <h4>Assessed policy</h4>
                    <p>
                      <a href="{{ policy.link }}" target="_blank"
                          rel="noopener noreferrer">
                        {{ policy.title }}
                      </a>
                    </p>
                  </div>
                  <div class="col-lg-8">
                    {% if policy.text.strip %}
                      <div class="accordion__item-detail-box">
                        {{ policy.text|safe }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}{# policies #}
            </div>
          </div>
        </div>
      {% endfor %}{# scores #}
    </div>
  </div>
{% endfor %}{# categories #}
