{% extends 'cms/base.html' %}
{% load cms_tags static i18n %}

{% block title %}
  {{ institution.name }}
{% endblock title %}


{% block header %}
  <header class="header header--main">
    <section class="container">
      <div class="inst-detail__header">
        {% if institution.logo %}
          <figure
            class="inst-detail__logo"
            style="background-image: url('{% get_media_prefix %}{{ institution.logo }}');"
          >
          </figure>
        {% else %}
          <figure
            class="inst-detail__logo"
            style="background-image: url('{% get_static_prefix %}comparer/img/institution-detail-logo-default.svg');"
          >
          </figure>
        {% endif %}
        <h1>
          {{ institution.name }}
        </h1>
      </div>
    </section>
  </header>
{% endblock header %}

{% block content %}
  <section class="container clearfix">
    <div class="row">
      
      <div class="col-lg-4">
        <div class="inst-detail__card">
          <div class="inst-detail__card-header"></div>
          <div class="inst-detail__card-content">
            <h2 class="inst-detail__title">
              About {{ institution.name }}
            </h2>
            
            <h3 class="inst-detail__subtitle">
              {% trans 'Policy assessment' %}
            </h3>
            <div class="row mb-5">
              <div class="col-md-10">
                <div class="progress progress--gold progress--large">
                  <div class="progress-value">
                    {{ score_percentage }}%
                  </div>
                  <div class="progress-bar"
                      role="progressbar"
                      style="width: {{ score_percentage }}%"
                      aria-valuenow="{{ score_percentage }}"
                      aria-valuemin="0"
                      aria-valuemax="100">
                  </div>
                </div>
              </div>
            </div>

            <h3 class="inst-detail__subtitle">
              {% trans 'Social media' %}
            </h3>

            <div class="d-flex">
              {% for email in institution.emails.active %}
                <a class="icon icon--spaced icon--mail"
                   href="mailto:{{ email.address }}"
                  title="E-mail: {{ email.address }}">
                  <span class="sr-only">e-mail</span>
                </a>
              {% endfor %}
              {% for sm in institution.social_media_links.active %}
                <a class="icon icon--spaced
                          icon--{{ sm.get_kind_display.lower }}"
                   href="{{ sm.url }}"
                   title="{{ sm.get_kind_display }}: {{ sm.url }}"
                   target="_blank"
                   rel="noopener noreferrer">
                  <span class="sr-only">{{ sm.kind_name }}</span>
                </a>
              {% endfor %}
            </div>

            {% if institution.description %}
              <p class="mt-4">{{ institution.description }}</p>
            {% endif %}
          </div>
        </div>
        
        <div id="message-popup-app" data-institution-id="{{ institution.id }}">
          <!-- MessagePopupApp.vue component will be mounted here. -->
        </div>
      </div>

      <div class="col-lg-8 inst-detail__scores">
        <h2 class="inst-detail__title">
          {{ INSTITUTION_NAME.capitalize }}'s Policy
        </h2>
        {% include "comparer/_institution_detail_scores.html" %}
      </div>
    </div>

    <p class="float-right">
      <a href="/ranking/">
        <i class="fas fa-long-arrow-alt-left mr-2"></i>
        Go back to ranking list
      </a>
    </p>
    <div class="clearfix"></div>
  </section>
{% endblock content %}


{% block js_end %}
  {{ block.super }}
  <script id="message-popup-cfg" type="application/json">
  {
    "buttonTitle": "{% trans "Send message" %}",
    "institution": {
      "id": {{ institution.id }},
      "name": "{{ institution.name }}",
      "scores": {
        "total": {{ institution.total_score }}
      }
    }
  }
  </script>
  <script src="{% static 'message_popup.bundle.js' %}"></script>
{% endblock js_end %}