/* colors */

$black: #000;
$white: #fff;

$primary-100: #332900;
$primary-90: #655201;
$primary-80: #987B01;
$primary-70: #C39909;
$primary-60: #F4BF0B;
$primary-50: #FDCF0B;
$primary-40: #FEDC4E;
$primary-30: #FEE681;
$primary-20: #FEEB9A;
$primary-10: #FFF5CC;
$primary-5: #FFFAE6;

$primary-fg: #363530;

$neutral-100: #332900;
$neutral-90: #413F35;
$neutral-80: #6F6C5B;
$neutral-70: #8D8874;
$neutral-60: #A39F8D;
$neutral-50: #B6B3A5;
$neutral-40: #C6C4B8;
$neutral-30: #D5D3CA;
$neutral-20: #E2E1DB;
$neutral-10: #EEEDEA;
$neutral-5: #FAF9F8;

$critical-80: #C72C39;
$critical-60: #EA4D65;
$critical-50: #F099AA;
$critical-10: #FBE9EC;

$warning-80: #B34821;
$warning-60: #ED7F4F;
$warning-50: #F19D76;
$warning-10: #FBEAE1;

$success-80: #3D7A23;
$success-60: #5BB336;
$success-50: #66C93E;
$success-10: #3D7A23;
$success-5: #F7FBF5;

$info-80: #30729E;
$info-60: #4AA9E9;
$info-50: #5DBEF7;
$info-10: #DBF1FD;

