
@font-face {
    font-family: Acumin Pro ExtraCondensed;
    src: url('/assets/fonts/acumin/AcuminProExtraCondensedBlack.otf') format('opentype');
 }

 @font-face {
   font-family: Acumin Pro SemiCondensed;
   src: url('/assets/fonts/acumin/AcuminProSemiCondensedBlack.otf') format('opentype');
}

 @font-face {
    font-family: Acumin Pro;
    src: url('/assets/fonts/acumin/AcuminProRegular.otf') format('opentype');
 }