@import "colors";
@import "mixins";
@import "fonts";

.post {

  &-cover {
    margin-top: 64px;  // compensate navbar
    padding-top: 120px;
    padding-bottom: 120px;
  }

  &__header {
    font-family: $acumin-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $neutral-90;
    display: flex;
    margin-bottom: 40px;
    justify-content: left;

    &-item {
      margin-right: 20px;
    }
  }

  &__content {
  }

  &__footer {
    margin-top: 40px;
    border-top: 2px solid $neutral-20;
    padding-top: 20px;

    p {
      color: $primary-100;
    }
  }

  &__side-title {
    font-family: $acumin-pro-semi-condensed;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: $primary-100;
  }
}


.post-tile {
  width: 100%;
  margin-bottom: 40px;

  &__cover {
    @include shadow;

    display: block;
    width: 100%;
    height: 130px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &--medium {
      @media (min-width: $sm-min-width) {
        height: 300px;
      }
    }
  }

  &__body {
    width: 100%;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $acumin-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $neutral-90;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  &__header-time {
    color: $neutral-80;
  }

  &__title {
    font-family: $acumin-pro;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: $primary-100;
    margin-bottom: 0;
  }

  &__content {

    p, li {
      font-size: 16px;
      line-height: 22px;
      color: $black;
      margin-bottom: 0;
    }

    ul, ol {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  &__link {
    display: block;
    font-family: $acumin-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 15px;
  }
}