@import "colors";
@import "fonts";
@import "mixins";


/* progress bar */

.progress {
  position: relative;
  background-color: $neutral-10;
  height: 16px;

  .progress-value {
    position: absolute;
    color: $black;
    width: 100%;
    text-align: center;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 1px;
  }

  &--gold {

    .progress-bar {
      background-color: $primary-50;
    }
  }

  &--large {
    height: 24px;
    border-radius: 8px;
    border: 2px solid $neutral-10;

    .progress-value {
      font-size: 16px;
      margin-top: 3px;
    }

    .progress-bar {
      border-radius: 6px;
    }
  }
}


/* Accordion */

.accordion {
  @include shadow;
  margin-bottom: 20px;

  &__header {
    background-color: $neutral-20;
    padding: 10px 15px;
  }

  &__title {
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 0;
  }

  &__content {
    background-color: $white;
  }

  &__item {

    &-header {

    }

    &-toggler {
      width: 100%;
      padding: 10px 15px;
      border-radius: 0;
      border-top: 1px solid $neutral-10;
      border-bottom: 1px solid $neutral-10;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      font-family: Acumin Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: $primary-90;
      margin: 0;
    }

    &-content {

    }
  }
}