@import "colors";
@import "fonts";
@import "mixins";


/* progress bar */

.progress {
  position: relative;
  background-color: $neutral-10;
  border: 2px solid $neutral-10;
  height: 20px;

  .progress-bar {
    height: 100%;
    border-radius: 4px;
  }

  .progress-value {
    position: absolute;
    color: $black;
    width: 100%;
    text-align: center;
    font-family: acumin-pro-semi-condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }

  &--gold {

    .progress-bar {
      background-color: $primary-50;
    }
  }

  &--large {
    height: 24px;
    border-radius: 8px;
    border: 2px solid $neutral-10;

    .progress-value {
      font-size: 16px;
      line-height: 18px;
    }

    .progress-bar {
      border-radius: 6px;
    }
  }

  &--narrow {
    display: inline-block;
    width: 60px;
    margin-top: 4px;
  }
}


/* Card */

.card {
  @include shadow;

  border-radius: 8px;
  background-color: $white;

  &-header {
    height: 125px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  &-body {
    padding: 20px 30px;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    h2 {
      color: $primary-100;
      font-family: acumin-pro-extra-condensed;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: .02em;
      line-height: 56px;
      margin-bottom: 20px;
    }

    h3 {
      font-family: acumin-pro;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: $primary-100;
      margin-bottom: 10px;
    }

    p {
      font-family: acumin-pro;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: $neutral-80;
    }
  }
}


/* Accordion */

.accordion {
  @include shadow;
  margin-bottom: 20px;

  &__header {
    background-color: $neutral-20;
    padding: 10px 15px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: acumin-pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin: 0;
  }

  &__content {
    background-color: $white;
  }

  &__item {

    .btn:disabled {
      opacity: 1;

      .accordion__item-toggler-icon {
        display: none;
      }
    }

    &-content {

      h4 {
        font-family: acumin-pro;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: $primary-90;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      p, li {
        font-family: acumin-pro;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $neutral-90;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-detail-box {
      padding: 10px;
      background-color: $neutral-5;
      border-radius: 8px;
      font-family: acumin-pro;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $primary-100;
      
      
    }

    &-toggler {
      width: 100%;
      padding: 10px 15px;
      border-radius: 0;
      border-top: 1px solid $neutral-10;
      border-bottom: 1px solid $neutral-10;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .accordion__item-toggler-icon {
        transform: rotate(0deg);
        transition: all .4s;
      }

      &.collapsed .accordion__item-toggler-icon {
        transform: rotate(180deg);
        transition: all .4s;
      }
    }

    &-title {
      font-family: acumin-pro;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: $primary-90;
      margin: 0;
    }
  }
}


/* Content Box (to use with .cover class of CMS CoverPlugin) */

.content-box {
  width: 100%;
  padding-top: 160px;
  padding-bottom: 160px;

  h1 {
    font-family: acumin-pro-semi-condensed;
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: $white;
  }

  h2 {
    font-family: acumin-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: $neutral-10;
  }

  @media (max-width: $lg-min-width - 1) {
    padding-top: 90px;
    padding-bottom: 90px;

    h1 {
      font-size: 35px;
      line-height: 40px;
    }

    h2 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}


