@import "colors";
@import "fonts";
@import "mixins";

/* RankingBox */

.ranking-box {
  @include shadow;

  background-color: $white;
  border-radius: 8px;
  border: none;
  padding: 25px;
  font-family: Acumin Pro;
  margin-top: 15px;
  margin-bottom: 15px;

  &__title {
    /* body */
    font-family: Acumin Pro;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $primary-90;
    text-transform: uppercase;
  }

  ol {
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $neutral-80;
  }

  a {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }

  &__row {
    padding: 5px 0 5px 0;
  }

  &__item {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    position: relative;
    margin: 0 10px 0 5px;
    width: 26px;
    height: 26px;
    bottom: -6px;
  }

  &__name {
    line-height: 30px;
  }

  &__score {
    font-family: Acumin Pro;
    margin-left: auto;
    margin-right: 10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: $primary-70;
  }
}

/* RankingBrowser */

.browser-table {
  @include shadow;

  background-color: $white;
  border-radius: 8px;

  // Overriding Bootstrap styling
  &.table td, th {
    padding-top: 15px;
    border-top: 1px solid $neutral-10;
    border-bottom: none;
  }

  &.table th {
    padding-top: 18px;
  }

  &.table thead th {
    border-bottom: 2px solid $neutral-10;
  }
  // End

  .compensate-height {
    margin-top: -4px;
  }

  td {
    vertical-align: middle;
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $neutral-80;

    &.no-results-col {
      font-style: italic;
      text-align: center;
    }
  }

  th {
    font-family: Acumin Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $primary-90;
    text-transform: uppercase;

    &.policy-cat-col {
        width: 14%;
    }
  }

  .institution-thumb {
    display: inline-block;
    margin: -6px 6px 0 0;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
