@import "colors";
@import "fonts";
@import "mixins";


// Django CMS

div.cms {
  .cms-toolbar,
  .cms-sideframe,
  .cms-structure {
    // to compensate top main nav
    margin-top: 64px !important;
  }
}

// Bootstrap related

.container {
  &--narrow {
    max-width: 660px;
  }
}

// Colors

.color-primary-60 {
  color: $primary-60 !important;
}

.color-success-80 {
  color: $success-80 !important;
}

.color-neutral-20 {
  color: $neutral-20 !important;
}

.color-warning-60 {
  color: $warning-60 !important;
}

.color-critical-80 {
  color: $critical-80 !important;
}

.bg-color-white {
  background-color: $white !important;
}

.bg-color-neutral-5 {
  background-color: $neutral-5 !important;
}

.shadowed {
  @include shadow;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-help {
  cursor: help !important;
}


// Global

html {
    height: 100%;
}

body {
  position: relative;
  height: auto;
  min-height: 100vh;

  font-family: acumin-pro, Roboto, Sans-Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $black;
  background-color: $neutral-5;
}

main {
    padding-bottom: 330px;  // to make place for footer and bottom margin

    &.no-bottom-gap {
      padding-bottom: 264px;  // only compensate footer height
    }
}

p {
  font-family: acumin-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $neutral-80;
}

a {
  color: $primary-80;

  &:hover:not(.button) {
    color: $primary-90;
  }
}

label {
  font-family: acumin-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: $neutral-100;
  margin-bottom: 5px;
}

.clickable {
  cursor: pointer;
}

.header {
  &--main {
    margin-top: 120px;
  }

  &--hidden {
    margin-top: 64px;  // to compensate navbar
    height: 0;
    max-height: 0;
    
    :not(.sr-only) {
      display: none;
    }
  }
}

.section {
  padding-top: 90px;
}

.navbar {
  &--main {
    z-index: 10000000;
  }
}

// Headers

h1 {
  font-family: acumin-pro-extra-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 69px;
  line-height: 64px;
  letter-spacing: 0.02em;
  color: $primary-100;
  margin-bottom: 30px;
}

h2 {
  font-family: acumin-pro-extra-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: $primary-100;
  margin-bottom: 30px;

  &.header-light {
    font-family: acumin-pro;
    font-weight: 600;
    letter-spacing: -0.04em;
    opacity: 0.1;
  }
}

h3 {
  font-family: acumin-pro-extra-condensed;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 56px;
  letter-spacing: 0.02em;
  color: $primary-100;
  margin-bottom: 30px;
}

h4 {
  font-family: acumin-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: $primary-100;
  margin-bottom: 30px;
}

h5 {
  font-family: acumin-pro;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: $primary-100;
  margin-bottom: 30px;
}
