// Django CMS

div.cms {
    .cms-toolbar, .cms-sideframe, .cms-structure {
        // to compensate top main nav
        margin-top: 56px !important;
    }
}


// Global

html, body {
    height: 100%;
}

.top-spacer {
    height: 80px;
}

.navbar {
    &--main {
        z-index: 10000000;
    }
}
