// Django CMS

div.cms .cms-toolbar {
    margin-top: 56px !important;
}

div.cms .cms-structure {
    margin-top: 56px !important;
}


// Global

html, body {
    height: 100%;
}

.top-spacer {
    height: 80px;
}


.navbar {
    &--main {
        z-index: 10000000;
    }
}