@import "colors";
@import "fonts";
@import "mixins";
@import "variables";


.navbar {

  &--main {
    @include shadow;
    @include menu-font;

    height: 64px;
    max-width: 100vw;
    background-color: $primary-50;
    color: $black;

    a {
      color: $black;
    }

    .nav-item {

      .nav-link {
        white-space: nowrap;
        padding: 4px 0 6px 40px;
      }

      &.active a.nav-link {
        color: $primary-90;
      }
    }

    .navbar-brand {
      font-size: 24px;
      line-height: 24px;
      height: 28px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .navbar-toggler-icon {
      background-image: url('/assets/img/icons/black/hamburger.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $primary-50;
    }

    &__logo {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 2px solid $neutral-90;
    }
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
    max-width: calc(100% - 56px);
  }
}


@media (max-width: $lg-min-width - 1) {

  .navbar--main {
    
    .navbar-collapse {
      position: absolute;
      left: 0;
      right: 0;
      top: 64px;
      background-color: $primary-50;
      border-top: 1px solid $primary-60;
    }

    .navbar-nav {
      @include shadow;

      padding-top: 20px;
      padding-bottom: 20px;
    }

    .nav-item .nav-link {
      padding: 15px 0 15px 0;
    }
  }
}

