@import "colors";
@import "fonts";
@import "mixins";


// Colors

.color-white {
  color: $white !important;
}

.color-black {
  color: $white !important;
}

.color-primary-60 {
  color: $primary-60 !important;
}

.color-primary-100 {
  color: $primary-100 !important;
}

.color-success-80 {
  color: $success-80 !important;
}

.color-neutral-20 {
  color: $neutral-20 !important;
}

.color-warning-60 {
  color: $warning-60 !important;
}

.color-critical-80 {
  color: $critical-80 !important;
}

.bg-color-white {
  background-color: $white !important;
}

.bg-color-neutral-5 {
  background-color: $neutral-5 !important;
}


// Standalone

.shadowed {
  @include shadow;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-help {
  cursor: help !important;
}

.overflow-x-scroll {
  max-width: 100%;
  overflow-x: scroll !important;
}
