{% load i18n %}

{% if feat_post %}
  {% include 'blog/_blog_post_cover.html' with post=feat_post is_detail=False btn_text=instance.feat_btn_text %}
{% endif %}

<section class="container pt-5 pb-5">
  <h2 class="text-center pt-3 pb-5">{{ instance.more_title }}</h2>

  <div class="row mx-lg-n5">
    {% for post in posts %}
      <div class="col-lg-4 col-md-6 px-lg-5">
        {% include 'blog/_blog_post_tile.html' with is_medium=True %}
      </div>
    {% empty %}
      <div class="col-12 px-lg-5">
        <p>{% trans 'No blog posts yet.' %}</p>
      </div>
    {% endfor %}
  </div>
</section>
