{% load static i18n %}
<section class="ranking-box{% if instance.html_classes %} {{ instance.html_classes }}{% endif %}">
  <h2 class="ranking-box__title">
    <div class="ranking-box__title-score">{% trans "Score" %}</div>
    {{ instance.title }}
  </h2>
  <ol>
    {% for institution in institutions %}
      <li class="ranking-box__row">
        <div class="ranking-box__item">
          <span class="ranking-box__logo"
                style="background-image: url({% if institution.logo_thumb %}{% get_media_prefix %}{{ institution.logo_thumb }}{% else %}{% static 'comparer/img/institution-logo-default.svg' %}{% endif %})">
          </span>
          <span class="ranking-box__name">
            <a href="{% url 'institution-detail' slug=institution.slug %}">
              {{ institution.name }}
            </a>
          </span>
          <span class="ranking-box__score">
            {{ institution.score_total|default:0 }}/{{ max_score }}
          </span>
        </div>
      </li>
    {% endfor %}
  </ol>
</section>
