{% load static i18n cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block full_title %}
        {% block title %}No title{% endblock title %} |
        {{ PROJECT_TITLE }}
      {% endblock full_title %}
    </title>

    <!-- required for "mobile" -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />

    {% include "cms/_favicon.html" %}

    {% render_block "css" %}
  </head>

  <body>
    {% cms_toolbar %}

    {% include "cms/main_navbar.html" %}

    {% block header %}
      <header class="header header--main">
        <section class="container">
          <h1>{% page_attribute "page_title" %}</h1>
        </section>
      </header>
    {% endblock header %}

    <main class="{% block main_cls %}{% endblock main_cls %}">
      {% block content %}{% endblock content %}
    </main>

    {% include "cms/_footer.html" %}

    {% block js_start %}{% endblock %}

    <script src="{% static 'main.bundle.js' %}"></script>

    {% render_block "js" %}
    
    {% with_data "js-script" as js_set %}
      {% for js in js_set %}
        <script type="text/javascript" src="{% static js %}"></script>
      {% endfor %}
    {% end_with_data %}

    {% render_block "js_end" %}
    {% block js_end %}{% endblock %}
  </body>
</html>
