{% load cms_tags static menu_tags sekizai_tags %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block full_title %}{% block title %}No title{% endblock title %} | {{ PROJECT_TITLE }}{% endblock full_title %}</title>
    <!-- required for "mobile" -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="{% static 'index-bundle.js' %}"></script>
    {% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}
    <nav style="max-width: 940px; margin:0 auto">
        <ul>
            {% show_menu 0 100 100 100 %}
            {% language_chooser %}
        </ul>
        {% block content %}{% endblock content %}
    </nav>
    <footer>
        {% static_placeholder 'footer' %}
    </footer>

    {% render_block "js" %}
    {% with_data "js-script" as jsset %}
        {% for js in jsset %}<script type="text/javascript" src="{% static js %}"></script>{% endfor %}
    {% end_with_data %}
    {% render_block "js_end" %}
</body>

</html>
